/* Modern CSS Reset by Andy Bell https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    /*Paddings and margins are considered in the max-size*/
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    min-height: 100svh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    /* line-height: 1.5; */
    /* line-height: 1.5; */
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Fonts */
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
    font-weight: 400 600 700;
    font-style: normal;
}

/* Custom styles */
:root {
    --green: hsl(75,94%,57%);
    --white: hsl(0, 0%, 100%);
    --white-transparent: hsl(0, 0%, 80%);
    --white-transparent: hsl(0, 0%, 80%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);

    --font-paragraphs: 0.875rem; /* 14px (1rem = 16px) */
    --font-paragraphs: 0.875rem; /* 14px (1rem = 16px) */
}

body{
    font-family: 'Inter', serif;
    font-size: var(--font-paragraphs);
    background-color: var(--grey900);
    color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 500;
    font-size: 1.5rem;
}

p{
    color: var(--white-transparent);
}

span{
   color: var(--green);
   font-size: var(--font-paragraphs);
}

a{
    background-color: var(--grey700);
    color: var(--white);
    border-radius: 10px;
    padding: 15px;
    max-width: 100%;
    text-decoration: none;
}
a:hover,
a:active{
    background-color: var(--green);
    color: var(--grey900);
}

section{
    display: flex;
    flex-direction: column;
    gap: 15px;    
    width: 100%;
}

.card{
    background-color: var(--grey800);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 35px;
    gap: 30px;
    width: 375px;
}

.card img{
    border-radius: 50%;
    width: 90px;
}

.attribution,
h1 {
    display: none;
}